html {
  background-color: #252222; }

body {
  background-color: #252222;
  margin: 0px;
  padding-top: 500px; }

.heroImage {
  background-image: url("images/Mussels.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -300px;
  height: 500px;
  position: fixed;
  top: 0;
  width: 100%; }

.heroText {
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 23, 13, 0.4); }
  .heroText .heroTag {
    font-size: 6em; }
  .heroText h1 {
    margin: 0; }

.heroNav {
  background-color: #252222;
  color: white;
  position: relative;
  height: 75px;
  z-index: 100;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); }
  .heroNav .heroNavButton {
    background-color: #252222;
    border-right: 2px solid white;
    text-align: center;
    margin-top: 1%; }
  .heroNav .heroNavButtonLast {
    background-color: #252222;
    text-align: center;
    margin-top: 1%; }

.heroNavScrolled {
  position: fixed;
  top: 0;
  width: 100%; }

.storyContainer {
  position: relative;
  width: 100%;
  background-color: #252222; }
  .storyContainer .zig {
    background-image: linear-gradient(to right, #e2dede, transparent);
    height: 400px;
    width: 100%;
    margin-bottom: 10%; }
    .storyContainer .zig p {
      width: 40%;
      display: inline-block;
      margin: 4%;
      font-size: 3rem; }
    .storyContainer .zig .zigImgCont {
      display: inline-block;
      float: right;
      width: 40%;
      color: white;
      height: 400px;
      background-size: cover;
      background-position-y: 50%; }
  .storyContainer .zag {
    background-image: linear-gradient(to left, #e2dede, transparent);
    height: 400px;
    width: 100%;
    margin-bottom: 10%; }
    .storyContainer .zag p {
      width: 40%;
      display: inline-block;
      margin: 2%;
      font-size: 3rem;
      float: right; }
    .storyContainer .zag .zagImgCont {
      display: inline-block;
      float: left;
      width: 40%;
      height: 400px;
      color: white;
      background-size: cover;
      background-position-y: 50%; }
